@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$red: #D66853;
$blue: #279AF1;
$gray: #465362;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $gray;
$grey-light: $beige-light;
$primary: $blue;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';

.movieCardPoster {
  object-fit: cover;
}

.contentHeight {
  height: 100px;
  overflow: hidden;
}

.card {
  cursor: pointer;
}

.level {
  margin: 2rem 0rem;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1;
  margin-bottom: 0.25rem !important;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card-content {
  margin: 1rem 0rem !important;
  padding: 0 !important;
}

.min {
 min-height: 600px;
}
